[submodule "packer/puppet"]
	path = packer/puppet
	url = git@github.com:dalekurt/puppet-memsql.git
	branch = develop
[submodule "packer/puppet/modules/memsql"]
	path = packer/puppet/modules/memsql
	url = git@github.com:dalekurt/puppet-memsql.git
	branch = develop
[submodule "packer/puppet/modules/memsql-ops"]
	path = packer/puppet/modules/memsql-ops
	url = git@github.com:dalekurt/puppet-memsql-ops.git
	branch = develop
